# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/accxbcuh/public_html/app"
PassengerBaseURI "/"
PassengerNodejs "/home/accxbcuh/nodevenv/public_html/app/14/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
